@import './vars.sass'
@import './font.sass'
@import './modificators.sass'

@import '~bootstrap/scss/bootstrap.scss'


*
  font-family: 'Montserrat', sans-serif
  font-display: auto
  color: $black
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-font-smoothing: antialiased

.Link
  @extend .inherit-all

  
.App
  width: 100%
  height: 100%
  min-height: 100vh
  display: flex
  flex-direction: column


.Background
  width: 100vw
  height: 110vh
  position: fixed
  top: 0
  left: 0
  background-image: url(./img/checker.png)
  z-index: -1
  img
    width: 100%
    height: 100%
    object-fit: contain
    animation: scale 12.6s ease-in-out infinite
    @keyframes scale
      0%
        transform: scale(1)
      50%
        transform: scale(1.26)
      100%
        transform: scale(1)


.Header
  width: 100%
  height: 60px
  background-color: white
  border-bottom: $border
  position: fixed
  top: 0
  left: 0
  z-index: 100
  &__button
    position: absolute
    top: 0
    width: 60px
    height: 60px
    cursor: pointer
    &::before
      content: ''
      position: absolute
      top: 0
      left: 5px
      width: 50px
      height: 60px
      background: linear-gradient(rgba(255, 255, 255, 0), $white 25%, $white)
    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      @extend .def-img
      background-size: 75%
      background-image: url(./img/dropdown__arrow.svg)
    &--prev
      left: 0
      &::before,
      &::after
        transform: rotate(90deg)
    &--next
      right: 0
      &::before,
      &::after
        transform: rotate(-90deg)
  &__link
    height: 60px
    line-height: 60px
    cursor: pointer
    overflow-x: hidden
    text-align: center
    transition: width $header-transition
    font-family: 'AnonymousPro'
    &--active
      color: $primary


.Footer
  background-color: $white
  border-top: $border

.font-orange
  color: $primary


.Days
  &__trigger
    background-color: white
    border-bottom: $border
    position: sticky
    z-index: 99
    top: 75px
    left: 50%
    transform: translateX(-50%)
    display: inline-flex
    flex-direction: row
    &__item
      padding: 1rem
      @extend .p
      @extend .p--l
      font-family: 'AnonymousPro'
      color: $gray
      cursor: pointer
      text-decoration: line-through
      &--active
        color: $primary
        cursor: default
        text-decoration: underline
        text-underline-offset: .25rem
        text-decoration-thickness: from-font

.Day
  &__shows
    background-color: $white
    // border: $border

.Spekt
  @extend .py-3
  // &:not(&::last-of-type)
  border-bottom: $border
  &__register
    @extend .p
    @extend .p--m
    @extend .font-orange
    cursor: pointer
    text-decoration: underline
    text-underline-offset: .25rem
    text-decoration-thickness: from-font
    


.Home
  &__logo
    padding-top: 100vh



.Dropdown
  @extend .d-flex
  @extend .flex-column
  // @extend .align-items-center
  &__title
    width: 100%
    cursor: pointer
    position: relative
    display: inline-block
    padding: 15px 0 19px
    &__text
      @extend .no-select
      @extend .d-flex
      @extend .flex-row
      @extend .align-items-center
      @extend .justify-content-start
      @extend .p
      @extend .p--l
      font-family: 'AnonymousPro'
      &::after
        content: ''
        width: 32px
        min-width: 32px
        height: 32px
        @extend .def-img
        background-image: url(./img/dropdown__arrow.svg)
        transform: rotate(-90deg)
        transition: transform $menu-transition
        .Dropdown--opened &
          transform: rotate(0deg)
  &__content
    width: 100%
    transition: height $menu-transition
    overflow: hidden
    &__container
      padding: 12px 0 32px
      @include media-breakpoint-down(md)
        padding: 10px 0 20px
      @include media-breakpoint-down(sm)
        padding: 6px 0 14px
      width: 100%
      @extend .d-flex
      @extend .flex-column
  &--spekt
    border: $border
    border-radius: 12px
    @include media-breakpoint-down(sm)
      border-radius: 8px
    .Dropdown__content
      padding: 0px 24px 0px
      @include media-breakpoint-down(md)
        padding: 0px 21px 0px
      @include media-breakpoint-down(sm)
        padding: 0px 16px 0px
      &__container
        padding: 7px 0px 41px
        @include media-breakpoint-down(md)
          padding: 6px 0px 42px
        @include media-breakpoint-down(sm)
          padding: 25px 0px 43px
    .Dropdown__title
      padding: 23px 24px 29px
      @include media-breakpoint-down(md)
        padding: 23px 21px 27px
      @include media-breakpoint-down(sm)
        padding: 13px 16px 15px
      &__text
        position: relative
        &::after
          @extend .d-none
  &--opened
    .Dropdown__title__text__Plus
      transform: translateY(-50%) rotate(45deg)



.box 
  background-color: white
  border-bottom: $border

.plate-number
  @extend .h1
  @extend .h1--xl
  @extend .px-4
  @extend .py-3
  margin-top: 30vh
  margin-bottom: 100vh
  position: relative
  left: 50%
  transform: translateX(-50%)
  display: inline-flex
  background-color: white
  border: 3px solid $black


.Chat
  position: fixed
  right: 10px
  bottom: 10vh
  font-family: 'AnonymousPro'
  padding: .75rem 1rem .75rem 42px
  background-color: $black
  border-bottom: 1px solid $white
  @extend .p
  @extend .p--xxl
  @extend .font-primary
  &::before,
  &::after
    content: ''
    position: absolute
    left: 7px
    top: 50%
    transform: translateY(-50%)
    @extend .def-img
    width: 32px
    height: 32px
    @include media-breakpoint-down(md)
      width: 28px
      height: 28px
    @include media-breakpoint-down(sm)
      width: 24px
      height: 24px
  &::before
    background-image: url(./img/star0.png)
    animation: star0 1.7s linear infinite
    @keyframes star0
      0%
        opacity: 0
      49%
        opacity: 0
      50%
        opacity: 1
      100%
        opacity: 1
  &::after
    background-image: url(./img/star1.png)
    animation: star1 1.7s linear infinite
    @keyframes star1
      0%
        opacity: 1
      49%
        opacity: 1
      50%
        opacity: 0
      100%
        opacity: 0
